body {
    background-color: cadetblue;
}

#container_ex5 {
    background-color: antiquewhite;
    width: 400px;
    display: flex;
    flex-wrap: wrap;
    /*justify-content: space-between; os itens foram divididos de forma igual n linha (espaçamento) e o primeiro e ultimo ficam frudados na margem*/
    /*align-content: center; ele alinha os itens no meio do pai, mas nesse caso nao tem espaço (altura) suficiente para isso*/
}

#container_ex5 .filho1 {
    background-color: coral;
    width: 120px;
    height: 120px;
}
#container_ex5 .filho2 {
    background-color: aqua;
    width: 120px;
    height: 120px;
}
#container_ex5 .filho3 {
    background-color: brown;
    width: 120px;
    height: 120px;
}
#container_ex5 .filho4 {
    background-color: darkgreen;
    width: 120px;
    height: 120px;
}
#container_ex5 .filho5 {
    background-color: darkorchid;
    width: 120px;
    height: 120px;
}
#container_ex5 .filho6 {
    background-color: hotpink;
    width: 120px;
    height: 120px;
}
#container_ex5 .filho7 {
    background-color: blue;
    width: 120px;
    height: 120px;
}
#container_ex5 .filho8 {
    background-color: chartreuse;
    width: 120px;
    height: 120px;
}
#container_ex5 .filho9 {
    background-color: darkgoldenrod;
    width: 120px;
    height: 120px;
}
#container_ex5 .filho10 {
    background-color: maroon;
    width: 120px;
    height: 120px;
}



#container_ex6 {
    background-color: antiquewhite;
    width: 400px;
    display: flex;
    flex-wrap: wrap;
    gap: 16px; /*define um espaçamento (como ruas) entre os itens*/
    
}

#container_ex6 .filho1 {
    background-color: chartreuse;
    width: 120px;
    height: 120px;
}
#container_ex6 .filho2 {
    background-color: darkorchid;
    width: 120px;
    height: 120px;
}
#container_ex6 .filho3 {
    background-color: darksalmon;
    width: 120px;
    height: 120px;
}
#container_ex6 .filho4 {
    background-color: mediumvioletred;
    width: 120px;
    height: 120px;
}
#container_ex6 .filho5 {
    background-color: aqua;
    width: 120px;
    height: 120px;
}
#container_ex6 .filho6 {
    background-color: forestgreen;
    width: 120px;
    height: 120px;

}

